.single {
    background-color: #f0efef;
}

section {
    .line {
        border-bottom: 7px solid rgba(0, 123, 255, 1);
        width: 95px;
        border-radius: 10px;
    }

    nav {
        display: grid !important;
        grid-template-columns: 1fr;

        .single-nav {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr !important;
        }

        .nav {
            display: grid;
            grid-template-columns: 1fr 1fr;

            img {
                width: 12%;

            }

            .counter {
                width: 25px;
                height: 40px;
                border-radius: 50%;
                margin-left: 86%;
                margin-top: -30px;
            }
        }

        .timer {
            margin: 10px 10px 10px 10px;
            border-radius: 20px;
            max-width: 80%;
            margin-inline: auto !important;
            background-color: rgb(172, 44, 44);

            .limit {
                box-shadow: 0px 10px 20px rgb(117, 6, 6);
                border-radius: 20px 20px 0px 0px;
            }

            .time {
                max-width: 60%;
                align-items: center;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
                margin-left: auto !important;
                margin-right: auto !important;

                div {
                    text-align: center;
                    border-radius: 10px;
                    box-shadow: 1px 1px 20px rgb(117, 6, 6);
                    max-height: 100px;
                    min-width: 100%;
                    display: grid;
                    grid-template-rows: 1fr .5fr;
                    margin-bottom: 15px;

                    h1 {
                        padding-top: 10px;
                        font-size: 55px;
                    }


                    h5 {
                        padding-top: 10px;
                        height: 100%;
                        min-width: 100%;
                        border-radius: 0px 0px 10px 10px;
                        background-color: rgb(127, 6, 6);
                    }
                }
            }

            .miss {
                h4 {
                    background-color: rgb(127, 6, 6);
                    border-radius: 0px 0px 20px 20px;
                }
            }
        }

        .inputs {
            display: grid;
            grid-template-columns: 4fr 1fr;

            .all-price {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    .all {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 40px;

        button {
            border-radius: 0px 0px 0px 10px;
        }

        .wish {
            border-radius: 0px 0px 10px 0px;
        }

    }

    .button {
        display: grid;
        grid-template-columns: 2.5fr 0.6fr;
        gap: 10px;

        a {
            border-radius: 0 0 0 10px;
        }

        p {
            height: 100%;
            border: 2px solid rgb(154, 19, 19);
            text-align: center;
            border-radius: 0 0 10px 0;

            .heart {
                margin-top: 12px;
            }
        }
    }

    .products {

        .wish img {
            height: 35px;
        }

    }
}


/* ----------------------------------- single product -------------------------------------*/


.single-nav {
    background-color: #f5f5f5 !important;
}

.single-product .products {
    background-color: #f5f5f5;
    box-shadow: 10px 10px 20px rgb(223, 223, 223);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    border-radius: 20px;
    gap: 20px;
    border: 0px solid black;
    padding: 30px;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-family: 'Tektur', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .main-image {
        width: 80%;
    }

    .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    .rating {

        img {

            width: 15px;
        }
    }

    .images {

        .main-img {
            width: 100%;
        }



        img:nth-child(n+1) {
            width: 60% !important;
            margin-top: 50px;
        }

        .active {
            border: 2px solid black;
            padding: 10px;
        }


    }

    .prices {
        display: grid;
        grid-template-columns: 1fr 1fr;

        div {
            width: 40%;
            height: 30px;
            text-align: center;

            p {
                margin-top: 3px;
            }
        }
    }

    .done {
        display: grid;
        grid-template-columns: 0.05fr 1fr;

        img {
            width: 20px;
        }

        h5 {
            margin-top: -2px;
            margin-bottom: 15px;
        }
    }

    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .add {

            width: 100%;

            img {
                margin-right: 150px;
                width: 130px;
            }

            h5 {
                margin-right: 150px !important;
                margin-top: 8px;
                width: 100%;
            }
        }

        .wish {
            display: grid;
            grid-template-columns: .0fr 1fr;
            border: 1px solid #0d6efd;

            img {
                width: 25px;
            }

            h5 {
                margin-right: 90px;
                margin-top: 5px;
            }

        }
    }

    .sku p {
        margin-bottom: -2px;
        font-family: "Barlow", sans-serif;
        font-style: normal;

    }
}


/* spinner */
.loader {
    --color: #a5a5b0;
    --size: 400px;
    width: var(--size);
    height: var(--size);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-inline: auto;
}

.loader span {
    width: 100%;
    height: 100%;
    background-color: var(--color);
    animation: keyframes-blink 0.6s alternate infinite linear;
}

.loader span:nth-child(1) {
    animation-delay: 0ms;
}

.loader span:nth-child(2) {
    animation-delay: 200ms;
}

.loader span:nth-child(3) {
    animation-delay: 300ms;
}

.loader span:nth-child(4) {
    animation-delay: 400ms;
}

.loader span:nth-child(5) {
    animation-delay: 500ms;
}

.loader span:nth-child(6) {
    animation-delay: 600ms;
}

@keyframes keyframes-blink {
    0% {
        opacity: 0.3;
        transform: scale(0.5) rotate(5deg);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }
}



/* media query */
@media screen and (max-width: 1024px) {
    section {

        .all {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        nav {
            .nav {

                img {
                    width: 12%;
                }

                .counter {
                    width: 23px;
                    height: 33px;
                    margin-left: 86%;
                    padding-top: 4px !important;
                }
            }
        }

    }

    .single-product .products {

        .images {

            img:nth-child(n+1) {
                width: 70% !important;
                margin-left: 30px;
                margin-top: 50px;

            }
        }

        .wish {
            display: grid !important;
            grid-template-columns: 1fr 1fr !important;

            h5 {
                font-size: 20px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    section {

        .line {
            width: 80px;
        }

        nav {
            .nav {

                img {
                    width: 15%;
                }

                .counter {
                    margin-left: 82% !important;
                }
            }
        }

        .all {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .timer {

            .time {
                min-width: 80%;
            }
        }
    }


    .single-product .products {

        display: grid;
        grid-template-columns: 1fr;


        .main-image {
            width: 50% !important;
            margin-left: 25%;
        }

        .images {

            img:nth-child(n+1) {
                width: 40% !important;

            }
        }

        .wish {

            display: grid !important;
            grid-template-columns: .01fr 1fr !important;
        }
    }
}

@media screen and (max-width: 450px) {
    section {

        .line {
            width: 70px;
        }

        nav {
            .nav {

                img {
                    width: 27%;
                }

                .counter {
                    width: 25px;
                    height: 35px;
                    margin-left: 71% !important;
                    margin-top: -25px;
                }
            }
        }

        .timer {

            .limit {
                h4 {
                    font-size: 16px;
                }
            }

            .time {
                min-width: 100%;
                gap: 10px !important;

                div {
                    min-height: 60px !important;

                    h1 {
                        font-size: 40px !important;
                    }
                }

                h5 {
                    font-size: 12px;
                    padding-top: 15px !important;
                    margin-top: -7px;
                    height: 45px !important;
                }
            }
        }

        .all {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    .single-product .products {

        .main-image {
            width: 80% !important;
            margin-left: 40px !important;
        }

        .images {

            img:nth-child(n+1) {
                width: 50% !important;
            }
        }

        .prices .off {
            width: 50%;
        }


        .buttons {
            display: grid;
            grid-template-columns: 1fr;

            .wish {
                grid-template-columns: .01fr 1fr !important;
            }
        }
    }
}



@media screen and (max-width: 320px) {
    section {

        nav {

            h1 {
                font-size: 25px;
            }

            .nav {

                img {
                    width: 29%;
                }

                .counter {
                    width: 20px;
                    height: 25px;
                    margin-left: 65% !important;
                    margin-top: -20px;
                    padding-top: 1px !important;
                }
            }

            .timer {
                .limit {
                    h4 {
                        font-size: 13px;
                    }
                }

                .time {
                    gap: 25px !important;

                    div {
                        margin: -10px !important;

                        h1 {
                            font-size: 30px;
                        }

                    }
                }

            }
        }

    }

    .single-product .products {

        .main-image {
            margin-right: -100px;
        }

        .images {
            margin-right: 40px;
        }

        .images img:nth-child(n+1) {
            width: 70% !important;
        }

        .prices .off {
            width: 70%;
            margin-left: 10%;
        }

        .buttons {

            .add {
                img {
                    width: 50%;
                    height: 40px;
                }
            }
        }
    }
}